:root {
  --primary-color: #0075ff;
  --white-color: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Tahoma, Arial;
}
.quiz-app {
  margin: 20px auto;
  width: 800px;
  background-color: #f8f8f8;
  padding: 15px;
}
.quiz-app .quiz-info {
  display: flex;
  background-color: var(--white-color);
  padding: 20px;
}
.quiz-app .quiz-info :is(.categorys, .categorys .category) {
  display: flex;
  align-items: center;
  gap: 10px;
}
.quiz-app .quiz-info .categorys {
  flex: 1;
}
.quiz-app .quiz-info .categorys .category button {
  border: none;
  outline: none;
  padding: 5px 10px;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}
.quiz-app .quiz-info .categorys .category button:hover,
.quiz-app .quiz-info .categorys .category button.checked {
  background-color: #0061cf;
}
.quiz-app .quiz-info .count {
  flex: 1;
  text-align: right;
}
.quiz-app .quiz-area {
  background-color: var(--white-color);
  padding: 20px;
  margin-top: 15px;
}
.quiz-app .quiz-area h2 {
  margin: 0;
}
.quiz-app .answers-area {
  background-color: var(--white-color);
  padding: 0 20px 20px;
}
.quiz-app .answers-area .answer {
  background-color: #f9f9f9;
  padding: 15px;
}
.quiz-app .answers-area .answer:not(:last-child) {
  border-bottom: 1px solid #dfdfdf;
}
.quiz-app .answers-area .answer input[type="Radio"]:checked + label {
  color: var(--primary-color);
}
.quiz-app .answers-area .answer label {
  cursor: pointer;
  font-weight: bold;
  color: #777;
  font-size: 14px;
  margin-left: 5px;
  position: relative;
  top: -1px;
}
.quiz-app .submit-button {
  background-color: var(--primary-color);
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  color: var(--white-color);
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
  margin: 20px auto;
  transition: all 0.3s;
}
.quiz-app .submit-button:hover {
  background-color: #0061cf;
}
.quiz-app .submit-button:focus {
  outline: none;
}
.quiz-app .bullets {
  border-top: 1px solid #dfdfdf;
  background-color: var(--white-color);
  display: flex;
  padding: 20px;
}
.quiz-app .bullets .spans {
  flex: 1;
  display: flex;
}
.quiz-app .bullets .spans span {
  width: 20px;
  height: 20px;
  background-color: #ddd;
  margin-right: 5px;
  border-radius: 50%;
}
.quiz-app .bullets .spans span.on {
  background-color: var(--primary-color);
}
.quiz-app .results span {
  font-weight: bold;
}
.quiz-app .results span.bad {
  color: #dc0a0a;
}
.quiz-app .results span.good {
  color: #009688;
}
.quiz-app .results span.perfect {
  color: var(--primary-color);
}

/* =================================== Media Query =================================== */
@media (max-width: 576px) {
  .quiz-app {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
  }

  .quiz-app .quiz-info {
    flex-direction: column;
  }

  .quiz-app :is(.quiz-info, .quiz-info .count) {
    text-align: center;
  }

  .quiz-app .quiz-info :is(.category, .count) {
    flex: none;
    margin: 5px 0;
  }

  .quiz-app .quiz-area h2 {
    font-size: 20px;
  }

  .quiz-app .submit-button {
    font-size: 16px;
    padding: 10px;
  }

  .quiz-app .bullets .spans span {
    width: 15px;
    height: 15px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .quiz-app {
    width: 90%;
    padding: 15px;
  }

  .quiz-app .submit-button {
    font-size: 17px;
  }

  .quiz-app .answers-area .answer label {
    font-size: 13px;
  }

  .quiz-app .bullets .spans span {
    width: 18px;
    height: 18px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .quiz-app {
    width: 80%;
  }

  .quiz-app .submit-button {
    font-size: 18px;
    padding: 12px;
  }

  .quiz-app .answers-area .answer label {
    font-size: 14px;
  }

  .quiz-app .bullets .spans span {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 992px) {
  .quiz-app {
    width: 800px;
  }

  .quiz-app .submit-button {
    font-size: 18px;
  }

  .quiz-app .answers-area .answer label {
    font-size: 15px;
  }

  .quiz-app .bullets .spans span {
    width: 20px;
    height: 20px;
  }
}
